<!-- HEADER -->
<mat-card>
  <h1 class="centralizar">{{titulo}}</h1>
</mat-card>

<!-- JOGADORES -->
<div class="background">
  <div style="display: flex;">
    <div style="width: 40%; margin: 0 5%;">
      <h2>Jogador +</h2>
      <mat-form-field appearance="outline">
        <input type="text" matInput id="jogador1Nome" [(ngModel)]="jogador_timeA.nome" placeholder="Jogador">
      </mat-form-field>
      <mat-form-field appearance="outline" style="margin: 0 10px;">
        <input matInput id="jogador1Rating" [(ngModel)]="jogador_timeA.rating" placeholder="Rating" maxlength="4"
          onkeypress="return event.charCode >= 48 && event.charCode <= 57"
          (keyup.enter)="addJogadorTimeA(jogador_timeA)" [disabled]="jogador_timeA.nome == ''">
      </mat-form-field>
      <button *ngIf="jogador_timeA.nome.length > 0 && jogador_timeA.rating.length > 2" mat-mini-fab color="primary"
        (click)="addJogadorTimeA(jogador_timeA)">
        <mat-icon>plus_one</mat-icon>
      </button>
    </div>
    <div style="width: 40%; margin: 0 5%;">
      <h2>Jogador +</h2>
      <mat-form-field appearance="outline">
        <input type="text" matInput id="jogador2Nome" [(ngModel)]="jogador_timeB.nome" placeholder="Jogador">
      </mat-form-field>
      <mat-form-field appearance="outline" style="margin: 0 10px;">
        <input matInput id="jogador2Rating" [(ngModel)]="jogador_timeB.rating" placeholder="Rating" maxlength="4"
          onkeypress="return event.charCode >= 48 && event.charCode <= 57"
          (keyup.enter)="addJogadorTimeB(jogador_timeB)" [disabled]="jogador_timeB.nome == ''">
      </mat-form-field>
      <button *ngIf="jogador_timeB.nome.length > 0 && jogador_timeB.rating.length > 2" mat-mini-fab color="primary"
        (click)="addJogadorTimeB(jogador_timeB)">
        <mat-icon>plus_one</mat-icon>
      </button>
    </div>
  </div>

  <!-- TABELAS -->
  <div style="display: flex;">
    <div style="width: 40%; margin: 0 5%;">
      <h3 class="centralizar">{{nomeTimeA}}</h3>
      <div class="example-container mat-elevation-z2">
        <table mat-table [dataSource]="dataSource1" matSort #sortA="matSort">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id + 1}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
            <td mat-footer-cell *matFooterCellDef> Rating Médio </td>
          </ng-container>
          <ng-container matColumnDef="rating">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating </th>
            <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
            <td mat-footer-cell *matFooterCellDef> {{getRatingMedioA() | number : '1.2-2'}} </td>
          </ng-container>
          <ng-container matColumnDef="acao">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="warn" style="margin-left: 5px;" (click)="deletarJogadorTimeA(element.id)">
                <mat-icon>cancel</mat-icon>
              </button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        </table>
      </div>
    </div>

    <div style="width: 40%; margin: 0 5%;">
      <h3 class="centralizar">{{nomeTimeB}}</h3>
      <div class="example-container mat-elevation-z2">
        <table mat-table [dataSource]="dataSource2" matSort #sortB="matSort">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id + 1}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
            <td mat-footer-cell *matFooterCellDef> Rating Médio </td>
          </ng-container>
          <ng-container matColumnDef="rating">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating </th>
            <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
            <td mat-footer-cell *matFooterCellDef> {{getRatingMedioB() | number : '1.2-2'}} </td>
          </ng-container>
          <ng-container matColumnDef="acao">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="warn" style="margin-left: 5px;" (click)="deletarJogadorTimeB(element.id)">
                <mat-icon>cancel</mat-icon>
              </button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        </table>
      </div>
    </div>
  </div>
</div>

<h1 class="centralizar footer">
  <a target="_blank" href="https://www.linkedin.com/in/done-ribeiro-8b244314b/">{{rodape}}</a>
</h1>